.App {
  text-align: center;
  height: 100vh;
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#40404b, #111118) rgba(34, 34, 40, 0.94);
}

.generatorHeader {
  margin-bottom: 2rem;
}
